<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="copyright-info">
          <span>© រក្សាសិទ្ធគ្រប់យ៉ាងដោយ KhmerWin24 ឆ្នាំ 2018.</span>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="footer-menu">
          <ul class="nav unstyled">
            <li><a href="#">Site Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Advertisement</a></li>
            <li><a href="#">Cookies Policy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Row end -->


    <div
    id="back-to-top"
    data-spy="affix"
    data-offset-top="10"
    class="back-to-top affix"
  >
    <button class="btn btn-primary" title="Back to Top">
      <i class="fa fa-angle-up"></i>
    </button>
  </div>
</div>

    <!-- Container end -->
  </div>
</div>
